* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-size: 16px;
    font-family: Karla;
}

ul {
    text-transform: uppercase;
    list-style-type:  none;
    text-align: center;
    li {
        margin: 1.5em 0 1.5em 0;
    }
}
p {
    text-align: center;
}
h1, h2, h3 {
    font-family: serif;
    text-align: center;
}

a {
   text-decoration: none; 
   text-align: center;
   color: hsl(256, 26%, 20%);
   font-weight: bold;
}
h4 {
    color:hsl(273, 4%, 51%);
    margin: 2.5em 0 2.5em 0;
}
a:hover {
    text-decoration: underline;
}

#menu {
    display: none;
    a:active {
        border: 1px solid white;
    }
}
.different {
    h2 {
        color:hsl(256, 26%, 20%);
    }
    h3 {
        margin: 2em 0 1em 0;
        color:hsl(256, 26%, 20%)
    }
    p {
        margin-bottom: 3em;
        color:hsl(273, 4%, 51%);
    }
}
header {
    display: flex;
    justify-content: space-between;
   // align-items: center;
    padding: 1.3em;
}
.humanizing, .different, aside, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.humanizing {
    background-image: url('/images/bg-pattern-intro-left-mobile.svg'), url('/images/bg-pattern-intro-right-mobile.svg');
    background-repeat: no-repeat;
    background-position: left bottom, right 19em;
    background-color:hsl(256, 26%, 20%);
    color: white;
}
hr {
    opacity: 0.4;
    margin: 0em 2em 0 2em;
}
.hr {
    opacity: 0.8;
    margin: 2em 6.5em 2em 6.5em;
}
aside {
    background-image: url('/images/bg-pattern-how-we-work-mobile.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color:hsl(256, 26%, 20%);
    h2 {
        color: white;
    }
}

footer {
    div {
        img:hover {
            filter: brightness(39%);
            cursor: pointer;
        }
        img {
            margin: 2em 0.4em 1em 0.4em;
        }
    }
}